<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <cpn></cpn>
        <cpn> 
            <template slot-scope="slot">
                <!-- <span v-for="item in slot.data">{{item}}-</span> -->
                <span>{{slot.data.join('-')}}</span>
            </template>
        </cpn>
        <cpn></cpn>
    </div>
    
    <template id="cpn">
        <div>
            <slot :data="PLanguages">
            <ul>
                <li v-for="item in PLanguages">{{item}}</li>
            </ul>
            </slot>
        </div>
    </template>

    <script>
        const app = new Vue({
            el:"#app",
            data:{
                message:"你好啊",
            },
            components:{
                cpn:{
                    template:"#cpn",
                    data(){
                    return{
                        PLanguages:['javascriot','python','java','c#','go']
                    }
                }
                },
                
            }
        })
    </script>
</body>
</html>